body
{
    -ms-overflow-style: scrollbar;
}
.sticky-popup
{
    position: fixed;    
    width: 350px;
    visibility: hidden; 
    z-index: 999999;
}
.sticky-popup .popup-header
{   
    padding: 10px 5px 5px 10px;
    border:1px solid #2C5A85;   
    cursor:pointer;
}

.popup-title
{
    color: #ffffff; 
    font-size: 18px;
    font-weight: bold;
}
    
.popup-image 
{
    float: right;
    padding: 0 15px 0 0;
    margin: 0px;
    width:25px;
}

.popup-image img
{
    max-width: 20px;
    max-height: 20px;    
}
.popup-content
{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y:auto;
    height: 400px;
    background-color: #fefefe;
    border: 1px solid hsl(0, 0%, 92%);
}

.popup-content input, textarea, select
{
    max-width: 95%;
}
.popup-content p
{
    margin: 5px 0 5px 0px;
}
.popup-content-pad
{
    padding: 10px;
}
/*Right Bottom and Left bottom side popup style*/
.right-bottom
{   
    right: 2%;
    bottom: 0;  
}
.left-bottom
{   
    left: 2%;
    bottom: 0;  
}
.open_sticky_popup {
    -webkit-transition: bottom .8s;
    -moz-transition: bottom .8s;
    -o-transition: bottom .8s;
    transition: bottom .8s;
}
@-webkit-keyframes popup_content_bounce_in_up{
    0%{opacity:0;-webkit-transform:translateY(2000px)}
    60%{opacity:1;-webkit-transform:translateY(-30px)}
    80%{-webkit-transform:translateY(10px)}
    100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes popup_content_bounce_in_up{
    0%{opacity:0;-moz-transform:translateY(2000px)}
    60%{opacity:1;-moz-transform:translateY(-30px)}
    80%{-moz-transform:translateY(10px)}
    100%{-moz-transform:translateY(0)}
}
@-o-keyframes popup_content_bounce_in_up{
    0%{opacity:0;-o-transform:translateY(2000px)}
    60%{opacity:1;-o-transform:translateY(-30px)}
    80%{-o-transform:translateY(10px)}
    100%{-o-transform:translateY(0)}
}
@keyframes popup_content_bounce_in_up{
    0%{opacity:0;transform:translateY(2000px)}
    60%{opacity:1;transform:translateY(-30px)}
    80%{transform:translateY(10px)}
    100%{transform:translateY(0)}
}
.popup-content-bounce-in-up{    
    -webkit-animation-name:popup_content_bounce_in_up;
    -moz-animation-name:popup_content_bounce_in_up;
    -o-animation-name:popup_content_bounce_in_up;
    animation-name:popup_content_bounce_in_up;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*Right side popup style*/
.sticky-popup-right
{
    /*top:25%;*/
    right:0;    
}
.sticky-popup-right .popup-header
{
    width: 35px;
    margin-top: 35%;
    float: left;
    height: 160px;
  /*  border-radius: 4px 0 0 4px;*/
    padding: 0px;  
}
.sticky-popup-right .popup-title
{
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    white-space:nowrap;
    display: block;
    padding:5px;    
}
.sticky-popup-right .popup-image
{
    margin:7px -135px 0 0;
margin-right:-16px\9 !important;
padding-right:15px\9 !important;
    width: 40px;
    padding: 0px;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
}
.sticky-popup-right .ie10 .popup-image
{
    margin-right:-16px !important;
}
.sticky-popup-right .ie11 .popup-image
{
    margin-right:-16px !important;
}
.sticky-popup-right .popup-content
{    
    width: auto;
}
.open_sticky_popup_right{
    -webkit-transition: right .8s;
    -moz-transition: right .8s;
    -o-transition: right .8s;
    transition: right .8s;
}
@-webkit-keyframes popup_content_bounce_in_right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes popup_content_bounce_in_right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
.popup-content-bounce-in-right{ 
    -webkit-animation-name:popup_content_bounce_in_right;
    -moz-animation-name:popup_content_bounce_in_right;
    -o-animation-name:popup_content_bounce_in_right;
    animation-name:popup_content_bounce_in_right;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*Left side popup style*/
.sticky-popup-left
{
    top:25%;
    left:0;    
}
.sticky-popup-left .popup-header
{
    width: 40px;
    padding: 0px; 
    margin: 35% 0 0 0;
    float: right;
    height: 160px;
   /* border-radius: 0 4px 4px 0;    */
}
.sticky-popup-left .popup-title
{
    padding:10px;
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    white-space:nowrap;
    display: block;    
}
.sticky-popup-left .popup-image
{
    margin:7px -135px 0 0;
    margin-right:-20px\9 !important;
    padding-right:20px\9 !important;
    width: 40px;
    padding: 0px;    
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);    
}

.sticky-popup-left .ie8 .popup-image
{
    margin-right:-16px !important;
}
.sticky-popup-left .ie9 .popup-image
{
    margin-right:-16px !important;
}
.sticky-popup-left .ie10 .popup-image
{
    margin-right:-16px !important;
}
.sticky-popup-left .ie11 .popup-image
{
    margin-right:-16px !important;
}
.sticky-popup-left .popup-content
{    
    width: auto;
    padding:0px;
    margin:0px;    
}
.open_sticky_popup_left{
    -webkit-transition: left .8s;
    -moz-transition: left .8s;
    -o-transition: left .8s;
    transition: left .8s;
}
@-webkit-keyframes popup_content_bounce_in_right_left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }

    80% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes popup_content_bounce_in_right_left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
    }

    80% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
.popup-content-bounce-in-left {
    -webkit-animation-name:popup_content_bounce_in_right_left;
    -moz-animation-name:popup_content_bounce_in_right_left;
    -o-animation-name:popup_content_bounce_in_right_left;
    animation-name:popup_content_bounce_in_right_left;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.open_sticky_popup_top {
    -webkit-transition: top .8s;
    -moz-transition: top .8s;
    -o-transition: top .8s;
    transition: top .8s;
}
@-webkit-keyframes popup_content_bounce_in_down{
    0%{opacity:0;-webkit-transform:translateY(2000px)}
    60%{opacity:1;-webkit-transform:translateY(-30px)}
    80%{-webkit-transform:translateY(10px)}
    100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes popup_content_bounce_in_down{
    0%{opacity:0;-moz-transform:translateY(2000px)}
    60%{opacity:1;-moz-transform:translateY(-30px)}
    80%{-moz-transform:translateY(10px)}
    100%{-moz-transform:translateY(0)}
}
@-o-keyframes popup_content_bounce_in_down{
    0%{opacity:0;-o-transform:translateY(2000px)}
    60%{opacity:1;-o-transform:translateY(-30px)}
    80%{-o-transform:translateY(10px)}
    100%{-o-transform:translateY(0)}
}
@keyframes popup_content_bounce_in_down{
    0%{opacity:0;transform:translateY(50px)}
    60%{opacity:1;transform:translateY(-30px)}
    80%{transform:translateY(10px)}
    100%{transform:translateY(0)}
}
.popup-content-bounce-in-down{    
    -webkit-animation-name:popup_content_bounce_in_down;
    -moz-animation-name:popup_content_bounce_in_down;
    -o-animation-name:popup_content_bounce_in_down;
    animation-name:popup_content_bounce_in_down;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.top-left
{
    left: 2%;
}
.top-right
{
    right : 2%;
}
body
{
    -ms-overflow-style: scrollbar;
}
.sticky-popup
{
    position: fixed;    
    width: 350px;
    visibility: hidden; 
    z-index: 999999;
}
.sticky-popup .popup-header
{   
    padding: 10px 5px 5px 10px;
    border:1px solid #2C5A85;   
    cursor:pointer;
}

.popup-title
{
    color: #ffffff; 
    font-size: 18px !important;
    font-weight: bold;
}
    
.popup-image 
{
    float: right;
    padding: 0 15px 0 0;
    margin: 0px;
    width:25px;
}

.popup-image img
{
    max-width: 20px;
    max-height: 20px;    
}
.popup-content
{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y:auto;
    height: 400px;
    background-color: #fefefe;
    border: 1px solid hsl(0, 0%, 92%);
}

.popup-content input, textarea, select
{
    max-width: 95%;
}
.popup-content p
{
    margin: 5px 0 5px 0px;
}
.popup-content-pad
{
    padding: 10px;
}
/*Right Bottom and Left bottom side popup style*/
.right-bottom
{   
    right: 2%;
    bottom: 0;  
}
.left-bottom
{   
    left: 2%;
    bottom: 0;  
}
.open_sticky_popup {
    -webkit-transition: bottom .8s;
    -moz-transition: bottom .8s;
    -o-transition: bottom .8s;
    transition: bottom .8s;
}
@-webkit-keyframes popup_content_bounce_in_up{
    0%{opacity:0;-webkit-transform:translateY(2000px)}
    60%{opacity:1;-webkit-transform:translateY(-30px)}
    80%{-webkit-transform:translateY(10px)}
    100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes popup_content_bounce_in_up{
    0%{opacity:0;-moz-transform:translateY(2000px)}
    60%{opacity:1;-moz-transform:translateY(-30px)}
    80%{-moz-transform:translateY(10px)}
    100%{-moz-transform:translateY(0)}
}
@-o-keyframes popup_content_bounce_in_up{
    0%{opacity:0;-o-transform:translateY(2000px)}
    60%{opacity:1;-o-transform:translateY(-30px)}
    80%{-o-transform:translateY(10px)}
    100%{-o-transform:translateY(0)}
}
@keyframes popup_content_bounce_in_up{
    0%{opacity:0;transform:translateY(2000px)}
    60%{opacity:1;transform:translateY(-30px)}
    80%{transform:translateY(10px)}
    100%{transform:translateY(0)}
}
.popup-content-bounce-in-up{    
    -webkit-animation-name:popup_content_bounce_in_up;
    -moz-animation-name:popup_content_bounce_in_up;
    -o-animation-name:popup_content_bounce_in_up;
    animation-name:popup_content_bounce_in_up;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*Right side popup style*/
.sticky-popup-right
{
    top:25%;
    right:0;    
}
.sticky-popup-right .popup-header
{   
    width: 35px;
    margin-top: 35%;
    float: left;
    height: 210px;
    padding: 0px;  
}
.sticky-popup-right .popup-title
{
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    white-space:nowrap;
    display: block;
    padding:5px;    
}
.sticky-popup-right .popup-image
{
    margin:7px -135px 0 0;
    margin-right:-16px\9 !important;
    padding-right:15px\9 !important;
    width: 40px;
    padding: 0px;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
}
.sticky-popup-right .ie10 .popup-image
{
    margin-right:-16px !important;
}
.sticky-popup-right .ie11 .popup-image
{
    margin-right:-16px !important;
}
.sticky-popup-right .popup-content
{    
    width: auto;
}
.open_sticky_popup_right{
    -webkit-transition: right .8s;
    -moz-transition: right .8s;
    -o-transition: right .8s;
    transition: right .8s;
}
@-webkit-keyframes popup_content_bounce_in_right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes popup_content_bounce_in_right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
.popup-content-bounce-in-right{ 
    -webkit-animation-name:popup_content_bounce_in_right;
    -moz-animation-name:popup_content_bounce_in_right;
    -o-animation-name:popup_content_bounce_in_right;
    animation-name:popup_content_bounce_in_right;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*Left side popup style*/
.sticky-popup-left
{
    left:0;    
}
.sticky-popup-left .popup-header
{
    width: 40px;
    padding: 0px; 
    margin: 35% 0 0 0;
    float: right;
    height: 160px;
  
}
.sticky-popup-left .popup-title
{
    padding:10px;
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    white-space:nowrap;
    display: block;    
}
.sticky-popup-left .popup-image
{
    margin:7px -135px 0 0;
    margin-right:-20px\9 !important;
    padding-right:20px\9 !important;
    width: 40px;
    padding: 0px;    
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);    
}

.sticky-popup-left .ie8 .popup-image
{
    margin-right:-16px !important;
}
.sticky-popup-left .ie9 .popup-image
{
    margin-right:-16px !important;
}
.sticky-popup-left .ie10 .popup-image
{
    margin-right:-16px !important;
}
.sticky-popup-left .ie11 .popup-image
{
    margin-right:-16px !important;
}
.sticky-popup-left .popup-content
{    
    width: auto;
    padding:0px;
    margin:0px;    
}
.open_sticky_popup_left{
    -webkit-transition: left .8s;
    -moz-transition: left .8s;
    -o-transition: left .8s;
    transition: left .8s;
}
@-webkit-keyframes popup_content_bounce_in_right_left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }

    80% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes popup_content_bounce_in_right_left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
    }

    80% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
.popup-content-bounce-in-left {
    -webkit-animation-name:popup_content_bounce_in_right_left;
    -moz-animation-name:popup_content_bounce_in_right_left;
    -o-animation-name:popup_content_bounce_in_right_left;
    animation-name:popup_content_bounce_in_right_left;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.open_sticky_popup_top {
    -webkit-transition: top .8s;
    -moz-transition: top .8s;
    -o-transition: top .8s;
    transition: top .8s;
}
@-webkit-keyframes popup_content_bounce_in_down{
    0%{opacity:0;-webkit-transform:translateY(2000px)}
    60%{opacity:1;-webkit-transform:translateY(-30px)}
    80%{-webkit-transform:translateY(10px)}
    100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes popup_content_bounce_in_down{
    0%{opacity:0;-moz-transform:translateY(2000px)}
    60%{opacity:1;-moz-transform:translateY(-30px)}
    80%{-moz-transform:translateY(10px)}
    100%{-moz-transform:translateY(0)}
}
@-o-keyframes popup_content_bounce_in_down{
    0%{opacity:0;-o-transform:translateY(2000px)}
    60%{opacity:1;-o-transform:translateY(-30px)}
    80%{-o-transform:translateY(10px)}
    100%{-o-transform:translateY(0)}
}
@keyframes popup_content_bounce_in_down{
    0%{opacity:0;transform:translateY(50px)}
    60%{opacity:1;transform:translateY(-30px)}
    80%{transform:translateY(10px)}
    100%{transform:translateY(0)}
}
.popup-content-bounce-in-down{    
    -webkit-animation-name:popup_content_bounce_in_down;
    -moz-animation-name:popup_content_bounce_in_down;
    -o-animation-name:popup_content_bounce_in_down;
    animation-name:popup_content_bounce_in_down;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.top-left
{
    left: 2%;
}
.top-right
{
    right : 2%;
}

/*updated css*/

/*comman css*/

.popup-content::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  border-radius: 6px;  background-color: #F5F5F5;}
.popup-content::-webkit-scrollbar{ width: 6px; background-color: #F5F5F5;}
.popup-content::-webkit-scrollbar-thumb{ border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #555;}


.popup-content-pad {padding: 15px; font-size: 16px; border-top: 0; background: #fff; }
.popup-content-pad form label { display: block; font-size: 16px; font-weight: 400;}
.popup-content-pad form input, .popup-content-pad form select, .popup-content-pad form textarea {width: 100%; height: 35px; border-radius: 2px; outline: 0 !important; border: 1px solid #aeaeae; padding: 0; max-width: calc( 100% - 20px ); padding: 0 8px; }
.popup-content-pad form textarea { height: 100px; }
.popup-content-pad form input[type="submit"] {background: #333333; color: #fff; border: 1px solid #333333; height: 45px; width: auto; padding: 5px 15px; min-width: 140px; cursor: pointer; }
.popup-content-pad .wpcf7 form .wpcf7-response-output {margin: 0; }


.popup-wrap {background: transparent; overflow: hidden; border: 0px solid transparent; border-top: 0;}
.popup-wrap h1 {font-size: 30px; margin: 0; font-weight: 600; line-height: 42px;}
.popup-wrap h2 {font-size: 24px; margin: 0; font-weight: 600; line-height: 42px; } 
.popup-wrap h3 {font-size: 20px; margin: 0; font-weight: 600; line-height: 42px; } 
.popup-wrap ul {padding: 0; list-style: none; margin: 0; }
.popup-wrap ul li:before {position: absolute; content: ""; background: #000; width: 7px; height: 7px; display: block; border-radius: 50%; top: 50%; transform: translateY(-50%); left: 0; }
.popup-wrap ul li {font-size: 18px; font-weight: 400; color: #222222; margin: 0 0 10px; padding-left: 20px; position: relative; }
.popup-wrap blockquote {border-left: 3px solid #000; margin: 20px 0; padding-left: 10px;}
.popup-wrap img { max-width: 100%; }

.popup-image {margin: 0; width: 30px; padding: 0px; margin-top: auto; height: 30px; display: flex; align-items: center; justify-content: center; border-radius: 50%;}
.popup-wrap img {max-width: 18px; }

.sticky-popup .popup-header { display: flex; }
.popup-title {display: flex; align-items: center; justify-content: space-between; width: 100%; }

/*css for right*/
.sticky-popup-right { right: 0; top: 0;  bottom: 0; align-items: center; display: flex;justify-content: flex-end;}
.sticky-popup-right .popup-wrap { display: flex; align-items: center;}
.sticky-popup-right .popup-header { margin-top: 0 !important; width: 42px; height: 240px; min-width: 42px; padding: 20px 0;}
.sticky-popup-right .popup-header.round-layout {border-radius: 25px 0 0 25px;}
.sticky-popup-right .popup-image {margin: 0; width: 30px; height: 30px; padding: 0px; margin-top: auto; }
.sticky-popup-right .popup-title {transform: none !important; display: flex; align-items: center; justify-content: left; height: 100%; padding: 0 0px 0; line-height: 42px; }


/*css for left*/
.sticky-popup-left { right: 0; top: 0;  bottom: 0; align-items: center; display: flex;justify-content: flex-end;}
.sticky-popup-left .popup-wrap { display: flex; align-items: center; flex-direction: row-reverse;}
.sticky-popup-left .popup-header { margin-top: 0 !important; width: 42px; height: 240px; min-width: 42px; padding: 20px 0;}
.sticky-popup-left .popup-header.round-layout { border-radius: 0 25px 25px 0;}
.sticky-popup-left .popup-image {margin: 0; width: 30px; height: 30px; padding: 0px; }
.sticky-popup-left .popup-title {transform: none !important; display: flex; align-items: center; justify-content: left; height: 100%; padding: 0 0px 0; line-height: 42px; }
.sticky-popup-left .popup-title {writing-mode: vertical-rl; transform: rotate(180deg) !important; align-items: center; justify-content: space-between; margin: 0; width: 100%;}

/*css for top-right*/

.sticky-popup.top-right .popup-header {padding: 10px 5px 10px 10px; }
.sticky-popup.top-right .popup-header.round-layout {border-radius: 0 0 25px 25px;}

.sticky-popup.top-left .popup-header {padding: 10px 5px 10px 10px; }
.sticky-popup.top-left .popup-header.round-layout {border-radius: 0 0 25px 25px;}

.sticky-popup.right-bottom .popup-header {padding: 10px 5px 10px 10px; }
.sticky-popup.right-bottom .popup-header.round-layout {border-radius: 25px 25px 0 0;}

.sticky-popup.left-bottom .popup-header {padding: 10px 5px 10px 10px; }
.sticky-popup.left-bottom .popup-header.round-layout {border-radius: 25px 25px 0 0;}